*{
    box-sizing: border-box;
}

.container{
    background-image: url("../images/background.jpg");
    background-size: 50% auto; /* Set the background size to cover 50% of the container's width */
    background-position: left top; /* Align the background to the left */
    float: left; /* Move the container to the left */
    width: 50%; /* Set the width of the container */
    height: 100vh; /* Adjust the height as needed */
}
.form-container{
    padding: 16px;
    float: right; /* Move the container to the right */
    width: 50%; /* Set the width of the container */
    height: 100vh; /* Adjust the height as needed */

}


  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity:1;
  }

  .signupbtn {
    float: left;
    width: 50%;
  }
  
  .login-link {
    cursor: pointer;
    color: blue; /* You can change the color as per your preference */
    text-decoration: underline; /* Adding underline to indicate it's clickable */
  }

  .login-link:hover {
    color: darkblue; /* Change color on hover if desired */
  }